.navigation {
  margin: auto 0;
  padding: 0;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navigation__movies-conteiner {
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation__movies-conteiner_hide {
  display: none;
}

.navigation__main-conteiner {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}

.navigation__main-conteiner_hide {
  display: none;
}

.navigation__main-button {
  height: 32px;
  border-radius: 3px;
  border: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px;
  margin: auto 0 auto 20px;
  transition: 0.8s;
}

.navigation__main-button:hover {
  cursor: pointer;
  opacity: .6;
}

.navigation__main-button:focus {
  outline: none;
}

.navigation__main-button_dark {
  background: #5c5c5c;
  color: #ffffff;
}

.navigation__main-button_green {
  background: #2be080;
  width: 76px;
}

.navigation__main-button_link {
  padding: 0;
  margin: auto 0;
}

.navigation__movies-button {
  border-radius: 3px;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: auto 0 auto 20px;
  background: transparent;
  transition: 0.8s;
}

.navigation__movies-button_hide {
  display: none;
}

.navigation__movies-button:hover {
  cursor: pointer;
  opacity: .6;
}

.navigation__movies-button:focus {
  outline: none;
}

.navigation__movies-button_link {
  padding: 0;
  margin: auto 0;
}

.navigation__movies-button_ligth {
  font-weight: 400;
}

.navigation__movies-button_space {
  margin-left: 50px;
}

.navigation__movies-button_icon {
  background-color: #f9f9f9;
  border-radius: 4px;
  width: 26px;
  height: 30px;
  padding: 0;
}

.navigation__movies-button_img {
  width: 12px;
  height: 14px;
}

.navigation__movies-button_burger {
  display: none;
  width: 44px;
  height: 44px;
  background-image: url(../../images/menu.svg);
  background-repeat: no-repeat;
}

.popup {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  height: 1024px;
  background-color: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: .3s linear;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}

.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 160px 0 100px;
  /* position: relative; */
  max-width: 520px;
  /* height: 1024px; */
  /* text-align: center; */
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup__button-close {
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url(../../images/close.svg);
  background-position: center;
  background-size: cover;
  border: 0;
  position: absolute;
  top: 22px;
  right: 22px;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0px auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup__nav-item {
  height: 22px;
  margin: 0 auto 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup__button-menu {
  height: 22px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  background: transparent;
  transition: 0.8s;
}

.popup__button-menu:hover {
  opacity: 0.6;
}

.popup__button-menu_small {
  display: block;
  margin: 590px auto 0;
  font-size: 14px;
  line-height: 16x;
  width: 150px;
  height: 30px;
}

.popup__button-menu_img {
  width: 12px;
  height: 14px;
}

.popup__button-menu_img-conteiner {
  display: inline-block;
  margin-left: 25px;
  padding: 5px 0;
  border-radius: 4px;
  background-color: #f9f9f9;
  width: 26px;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup__menu-link {
  text-decoration: none;
  margin: 0;
  padding: 0 0 5px;
}

.popup__menu-link_active {
  border-bottom: 2px solid #000000;
}

@media all and (max-width: 768px) {
  .navigation__movies-button_link {
    display: none;
  }

  .navigation__movies-button_burger {
    display: block;
  }
}

@media all and (max-width: 502px) {
  .navigation__main-button_green {
    width: 54px;
  }

  .navigation__main-button {
    height: 26px;
    border-radius: 3px;
    border: 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    padding: 5px 12px;
    margin: auto 0 auto 14px;
  }

  .popup__container {
    width: 100%;
    padding: 144px 0 48px;
  }

  .popup__button-menu {
    height: 29px;
    max-width: 300px;
  }

  .popup__nav-item {
    height: 29px;
    margin: 0 auto 15px;
  }

  .popup__button-menu_small {
    display: block;
    margin: 424px auto 0;
    font-size: 14px;
    line-height: 16x;
    width: 100px;
    height: 30px;
    padding-bottom: 8px;
  }

  .popup__button-menu_img-conteiner {
    margin-left: 17px;
  }

  .popup__menu-link {
    text-decoration: none;
    margin: 0;
    padding: 0 0 7px;
  }
}
