.navigation {
margin: auto 0;
padding: 0;
}

.navigation__button {
  height: 32px;
  border-radius: 3px;
  border: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px;
  margin: auto 0 auto 20px;
  transition: 0.8s;
}

.navigation__button:hover {
  cursor: pointer;
  opacity: .6;
}

.navigation__button_back_none {
  background: #5c5c5c;
  color: #ffffff;
}

.navigation__button_back_green {
  background: #2BE080;
  width: 76px;
}
