.about-me {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 70px 100px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.about-me__title {
  max-width: 600px;
  margin: 0 0 23px;
  padding: 0;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about-me__content {
  padding: 66px 0 0;
  display: flex;
  border-top: 1px solid black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.about-me__data {
  max-width: 600px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.about-me__name {
  margin: 0 0 18px;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__subtitle {
  margin: 0 0 26px;
  padding: 0;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
}

.about-me__text {
  margin: 0 0 99px;
  padding: 0 20px 0 0;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}

.about-me__links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.about-me__link {
  margin: 0 20px 0 0;
  padding: 0;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000000;
  transition: 0.8s;
}

.about-me__link:hover {
  opacity: .6;
}

.about-me__img {
  padding: 0;
  margin: 0 0 0 auto;
  border-radius: 10px;
  height: 327px;
  width: 270px;
}

@media all and (max-width: 832px) {
  .about-me {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media all and (max-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__data {
    max-width: 384px;
  }

  .about-me__name {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__subtitle {
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text {
    margin: 0 0px 90px;
    padding-right: 20px;
    font-size: 12px;
    line-height: 18px;
    max-width: 364px;
  }

  .about-me__img {
    padding: 0;
    margin: 0 0 0 auto;
    border-radius: 10px;
    width: 255px;
    height: 307px;
  }
}

@media all and (max-width: 680px) {
  .about-me__img {
   width: calc( 4vw + 224px );
   height: calc( 5.37vh + 265px);
  }
}

@media all and (max-width: 608px) {
  .about-me {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media all and (max-width: 542px) {
  .about-me {
    padding: 70px 30px;
  }

  .about-me__content {
    padding: 60px 0 0;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 0;
  }

  .about-me__data {
    padding: 0;
  }

  .about-me__img {
    display: block;
    margin: 0 auto 40px;
    width: 292px;
    height: 352px;
    border: 0;
  }

  .about-me__text {
    margin: 0 0px 40px;
    padding: 0px;
  }
}

@media all and (max-width: 502px) {
  .about-me {
    padding: 70px 14px;
  }

  .about-me__name {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__img {
    margin: 0 0 40px 0;
    padding: 0;
  }
}
